/* font Cinzel for logo and Raleway for the rest of the site */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* colors */
:root{
    --yellow-color-rgb: rgb(221,221,16);
    --yellow-color:#DDDD10;
    --white-color:#eae4e4;
    --background-main: #252323;
}

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #1b1a1a;
    color:var(--white-color);
    font-family: "Raleway", sans-serif;
    /* padding-bottom: 300px; */

}

p{
    line-height: 1.6;
    font-size: 18px;
    margin: 20px 0;
}
hr{
    width: 75%;
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
}
h1, h2{
    font-weight: 200;
}

a{
    text-decoration: none;
    color:var(--white-color);
}
ul{
    list-style-type: none;
}

/* underline for the links */
a{
  position: relative;
  padding: 10px;
}
a::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--yellow-color);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
a:hover::after{
 /* the width of the underline blew the navbar links (it can be 1.5 and 2) */
  transform: scaleX(1); 
}

footer{
    background-color: rgb(20, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.social a:hover::after{
    transform: scale(0);
}
.social a:hover{
    color: #DDDD10;
}
