  body {
    background-color: #252323;
  }
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    max-width: 400px;
    border: 1px solid #dddd10;
    padding: 3px;
  }
  .card-header {
    background-color: #1b1a1a;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
  }
  .card-body {
    padding: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  button[type=submit] {
    background-color: var(--yellow-color);
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  button[type=submit]:hover {
    background-color: #baba09;
  }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }

  .register-here{
    margin-top: 20px;
    padding-bottom: 2px;
    text-align: center;
  }