.movie-title{
    margin-top: 70px;
}
hr{
    margin-top: 10px;
    /* margin-left: 0px; */
    width: 100%;
    /* border-color: #dddd10; */
}
.movie-main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.movie-poster{
    display: inline-block;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
    height: 600px;
    width: 415px;
    border-radius: 5px;
}
.movie-poster img{
    border-radius: 5pxp;
}


.p1{
    margin-top: 0px;
}

.movie-info-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actor-list{
    list-style-type: disc;
}
.actor-list li{
    margin: 5px 0;
}

.movie-summary{
    margin-top: 50px;
}
.hr2{
    margin-top: 20px;
}
.similar-movies-header{
    margin-bottom: 20px;
}
.similar-movies-show{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.movie-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.sm-poster{
    display: inline-block;
    width: 200px;
    height: 300px;
    transition: transform 0.2s ease;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
}
.sm-poster:hover{
    transform: translateY(-5px)
}
