/* navbar */
.logo{
    font-family: "Cinzel Decorative", serif;
}
.logo:hover::after{
    transform: scaleX(0);
}
.yellow-letter{
    color: var(--yellow-color);
}

.navbar{
    position: sticky;
    left: 10px;
    right: 10px;
    top : 5px;
    height: 70px;
    background-color: var(--background-main);
    /* opacity: 0.9; */
    z-index: 10;
    margin: 0 10px;
    /* border: solid 1px var(--yellow-color); */
    border-radius: 10px;

}
.navbar ul{
    display: flex;
}
.navbar nav a{
    /* padding: 10px; */
    margin: 0 5px;
}
.navbar .flex{
    justify-content: space-between;
}


.cat{
    position: relative;
    padding-bottom: 10px;
}
.dropdown-content{
    display: none;
}
.dropdown-content ul{
    display: block;
    margin: 5px;
}
.dropdown-content li{
    width: 120px;
    padding: 10px 10px 10px 2px;
}   
.cat:hover .dropdown-content{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #1b1a1a;
    border: 1px solid #262525;
}


/* Filmyar */

.filmyar .flex{
    justify-content: space-between;
    align-items: start;
}
.filmyar-poster{
    height: 90%;
    width: 550px;
    border-radius: 10px;
}
.filmyar-poster img{
    border-radius: 2px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
}
.filmyar-card{
    height: 50%;
    width: 450px;
    line-height: 25px;

}
.filmyar-card .grid-var{
    grid-template-rows: 40% 20% 40%;
}


.navigation{
    display: flex;
    gap: 20px;
}





